@font-face {
    font-family: Poppins-600-medium;
    src: url("./Poppins-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Poppins-600-Bold;
    src: url("./Poppins-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Poppins-500-Bold;
    src: url("./Poppins-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Poppins-500-medium-italics;
    src: url("./Poppins-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Poppins-500-medium;
    src: url("./Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Poppins-500-regular;
    src: url("./Poppins-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}