<app-app-intro-section [title]="title"></app-app-intro-section>
<div class="row d-flex justify-content-center px-4 py-5 px-md-5">
    <div class="col-12 col-md-12 d-flex flex-column">
        <p class="h4 secondary-app-color">FAST MOVING CONSUMER GOODS</p>
        <p class="font-weight-normal text-left">
            We pride ourselves on the ability to identify opportunities in the market and believe in the power of collaboration with
            producers of consumer goods. We have as part of our business dynamics extensive distribution networks and expertise in
            product distribution, client management and the local market. SEINBERG Trading, our own distribution company through
            which we distribute products within various markets and households is positioned to strategically expand its frontiers
            and add diverse brands on the platform.
        </p>
    </div>
    <div class="col-12">
        <ul>
            <li>
                <p class="h4 secondary-app-color">SMISHES</p>
                <p class="font-weight-normal text-left col-12 col-md-6">We currently have SMISHES as our main product. 
                    It is an oven smoked catfish product packed in 150g, 250g and 500g sizes
                </p>
            </li>
            <li>
                <p class="h4 secondary-app-color">DIAMOND WINE</p>
                <p class="font-weight-normal text-left col-12 col-md-6">
                    We are proud to partner Boshafo Investment Company Namibia for the 
                    Diamond wine distribution with West Africa (Excl
                Nigeria)
                </p>
            </li>
        </ul>
    </div>
</div>

<div class="row d-flex justify-content-center p-4 px-md-5">
    <div class="col-12 col-md-12 d-flex flex-column">
        <p class="h4 secondary-app-color">ENERGY</p>
        <p class="font-weight-normal text-left">
            MIZAR ERIDANUS ENERGY is increasing its presence in the energy industry. The importance of energy products, its
            availability in exact specification to meet demand raises the need for our efficient supply infrastructure. With the
            combination of deep understanding of the industry, strong partnership, highly skilled human resources and technology, we
            have created a socially and economically desired solution.
        </p>
    </div>
    <div class="col-12">
        <ul>
            <li>
                <p class="h4 secondary-app-color">Upstream</p>
                <p class="font-weight-normal text-left">
                Mizar Eridanus Energy has therefore chosen to commit its resources to the establishment of a 25, 000 mpd refinery in
                Namibia. With further interests in Marginal fields across Africa.
                The decision to establish a 25, 000 mpd modular refinery in Namibia was concluded after detailed preminilary survey was
                conducted by our project partner in Namibia. Recently, the government and state officials of Namibia through an
                aggressive campaign are engaging private investors to invest in the oil sector of the economy in Namibia since the
                discovery of oil. Namibia with no refining capacity therefore imports all her refined oil products from South Africa.
                The Refinery will be setup in Erongo Region between Swakopmund and Walvis Bay on Bakersville new town development 12km
                away from sea level/sea port. Namibia uses about 1,350,800,000 (1.35Billion liters of Fuel per year).
                Namibia being a logistical hub for land locked countries such Botswana, Zambia, Zimbabwe, DRC and other interested
                States. The refinery will be able to supply Botswana, and other neighboring SADC countries, such as DRC, Zimbabwe and
                Zambia

                </p>
            </li>
            <li>
                <p class="h4 secondary-app-color">DOWNSTREAM OPERATIONS</p>
                <p class="font-weight-normal text-left">Our operations cover the entire downstream supply chain and it is driven by clients’ satisfaction, supply efficiency and
                    partnership in product procurement and trade, marketing and distribution.
                </p>
            </li>
            <li>
                <p class="h4 secondary-app-color">PRODUCT PROCUREMENT</p>
                <p class="font-weight-normal text-left">MIZAR ERIDANUS ENERGY is involved in the sourcing and procurement of various refined petroleum products and crude oil.
                    We are strategically positioned to secure petroleum products from verifiable and affiliate refineries and deliver to any
                    world safe port on agreed trading condition.
                </p>
                <div class="row d-flex justify-content-center py-3 px-md-5">
                    <div class="col-12">
                        <p class="h4 secondary-app-color">OUR Trading Activities</p>
                        <ul>
                            <li>
                                <p class="font-weight-normal text-left">
                                    Crude oil
                                </p>
                            </li>
                            <li>
                                <p class="font-weight-normal text-left">
                                    Jet A1 fuel
                                </p>
                            </li>
                            <li>
                                <p class="font-weight-normal text-left">
                                    Diesel
                                </p>
                            </li>
                            <li>
                                <p class="font-weight-normal text-left">
                                    LNG/LPG
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <p class="h4 secondary-app-color">Other Categories</p>
                        <ul>
                            <li>
                                <p class="font-weight-normal text-left">
                                    Chicken
                                </p>
                            </li>
                            <li>
                                <p class="font-weight-normal text-left">
                                    Milk
                                </p>
                            </li>
                            <li>
                                <p class="font-weight-normal text-left">
                                    Beef
                                </p>
                            </li>
                            <li>
                                <p class="font-weight-normal text-left">
                                    Rice
                                </p>
                            </li>
                            <li>
                                <p class="font-weight-normal text-left">
                                    Sugar
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <p class="h4 secondary-app-color">RETAIL</p>
                <p class="font-weight-normal text-left">
                    MIZAR ERIDANUS ENERGY manages the distribution networks across all sections of the downstream Oil and Gas value
                    chain.
                    We have extensive partnership with product delivery channels that enhances the value of our downstream supply chain.
                    Our Marketing and Distribution activities include
                </p>
                <div class="col-12">
                    <ul>
                        <li>
                            <p class="font-weight-normal text-left">
                                AGO
                            </p>
                        </li>
                        <li>
                            <p class="font-weight-normal text-left">
                                PMS
                            </p>
                        </li>
                        <li>
                            <p class="font-weight-normal text-left">
                                DPK
                            </p>
                        </li>
                        <li>
                            <p class="font-weight-normal text-left">
                                LPG
                            </p>
                        </li>
                        <li>
                            <p class="font-weight-normal text-left">
                                LPFO
                            </p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row d-flex justify-content-center p-4 px-md-5">
    <div class="col-12 col-md-12 d-flex flex-column">
        <p class="h4 secondary-app-color">COMMODITY TRADING</p>
        <p class="font-weight-normal text-left">
            MIZAR ERIDANUS Trading SA is an Independent Trading arm of MIZAR ERIDANUS GROUP. It was established to perform trading
            activities in various commodities across the world. We are currently on an ongoing registration in GENEVA, SWITZERLAND
            which will head quarter all our international trading operations.
            <br>
            We seek for opportunities across regions where there is value, combining our business operations with projects that
            supports our local environment. We believe in integration, sharing of skills and distribution of commodities that create
            development for all parties across various locations in the world.
            <br>
            The operational base in GENEVA, SWITZERLAND will position our company to maximum exploitation of trade opportunities on
            the global scale. Our primary focus is on the import and export of commodities on a large scale and volume which is made
            possible with efficient business relationship with our partners.
        </p>
    </div>
</div>

<div class="row d-flex justify-content-center p-4 px-md-5">
    <div class="col-12 col-md-12 d-flex flex-column">
        <p class="h4 secondary-app-color">REAL ESTATE</p>
        <p class="font-weight-normal text-left">
            Real Estate represent a significant portion of our business activities. The Real Estate industry is slowly being
            redefined by ever changing market conditions and shift in consumer behavior. The Nigerian real estate industry continues
            to expand to accommodate innovative commercial properties, community retail accommodation and leisure parks as investor
            appetite grows alongside the consumer base.
            <br>
            MIZAR ERIDANUS Real Estate oversees all commercial, retail housing units and leisure and theme park, hospitality
            investment in the real estate industry. We want to improve the way prospective buyers are matched with desirable
            properties amplifying their preferences and offering solutions such as renewable energy, building technology, cultural
            living specifics, shopping centers and technology (internet of things, operations automation)

        </p>
        <div class="col-12">
            <ul>
                <li>
                    <p class="font-weight-normal text-left">
                        HOWARD PARK
                    </p>
                </li>
                <li>
                    <p class="font-weight-normal text-left">
                        WATER PARK, LAGOS
                    </p>
                </li>
                <li>
                    <p class="font-weight-normal text-left">
                        The proposed Lekki Themed Water Park will be the first of its Kind in Lagos.
                        It will be built on 8Hectares of land
                        Lekki – Epe Express way.
                    </p>
                </li>
                <li>
                    <p class="font-weight-normal text-left">
                        In addition to the Water Park is the inclusion of facilities such as Food court, Mini-Cinema Hall, Gym & Spar, first
                        class studio, Mini-Chalets and bars, 100 room Hotel and a mini-shopping facility.
                    </p>
                </li>
                <li>
                    <p class="font-weight-normal text-left">
                        The Lekki Themed Water Park will offer its customers an attractive, economical and fun-filled facility for their
                        entertainment, fun and enjoyment. The park will provide entertainment daily, all through the year, with both passive
                        entertainment (lounging) and, for the pro-active customers, water play activities. Night live will also be available
                        with music, live band and other activities.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center p-4 px-md-5">
    <div class="col-12 col-md-12 d-flex flex-column">
        <p class="font-weight-normal text-left">
            The proposed Abuja Themed Water Park will be the first of its Kind in Abuja. It will be built on 16 Hectares of land
            Lekki – Epe Express way.
            In addition to the Water Park is the inclusion of facilities such as Food court, Mini-Cinema Hall, Gym & Spar, first
            class studio, Mini-Chalets and bars, 100 room Hotel and a mini-shopping facility.
            The Abuja Themed Water Park will offer its customers an attractive, economical and fun-filled facility for their
            entertainment, fun and enjoyment. The park will provide entertainment daily, all through the year, with both passive
            entertainment (lounging) and, for the pro-active customers, water play activities. Night live will also be available
            with music, live band and other activities.

        </p>
    </div>
</div>

<div class="row d-flex justify-content-center p-4 px-md-5">
    <div class="col-12 col-md-12 d-flex flex-column">
        <p class="h4 secondary-app-color">PARTNERS</p>
        <div class="col-12">
            <ul>
                <li>
                    <p class="font-weight-normal text-left">
                        Equipment Supply & Installation: Arihant (APAC), India & Whitewater Attractions.
                    </p>
                </li>
                <li>
                    <p class="font-weight-normal text-left">
                        Pool Construction: SWIMCON, South Africa
                    </p>
                </li>
                <li>
                    <p class="font-weight-normal text-left">
                        Park Automation and Integration: SKIDATA & Interswitch Nigeria.
                    </p>
                </li>
                <li>
                    <p class="font-weight-normal text-left">
                        Park Management: AmusementAquatic Management Group (AMG Inc.)
                    </p>
                </li>
                <li>
                    <p class="h3 secondary-app-color">Water park, Abuja</p>
                    <p class="font-weight-normal text-left col-12 col-md-6">
                        An 16ha waterpark recreation and entertainment facility in Abuja. Which happens to be the first
                        waterpark in Lagos and
                        Nigeria.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

