<app-app-intro-section [title]="title"></app-app-intro-section>

<div class="row d-flex justify-content-center py-5">
    <div class="col-10">
        <p class="text-center">
            MIZAR ERIDANUS GROUP was formed in 2013 in Nigeria. Our headquarter presently in Lagos, Nigeria, the group has existing
            business interest in Nigeria, Africa, Europe and Asia with products traded across various trading channels. We have
            streamlined our business and commercial activities to involve commodity trading, energy, real estate and food and
            beverages.
        </p>
    </div>
</div>

<div class="row d-flex justify-content-center px-4">

    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
        <p class="h3 secondary-app-color">VISION</p>
        <p class="text-center">
            We are a global brand established to change the face of Africa.
        </p>
    </div>

    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
        <p class="h3 secondary-app-color">MISSION</p>
        <p class="text-center">
            Our aim is to turn Africa into the hub of Business, Commerce, Industry and Technology.
        </p>
    </div>

</div>

<div class="row px-4">

    <div class="col-12 py-md-4">
        <p class="text-center h3 secondary-app-color">
            Our Core Value
        </p>
    </div>

    <div class="col-12">
        <!--  -->
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 p-3 p-md-3">
                <p class="">
                    <span class="bg-light p-3 p-md-3 text-secondary">Integrity:</span> 
                    We always do the right things at the right time in the right way. 
                    We are honest and straightforward in all
                    our doings and operate within the provisions of law
                </p>
            </div>
        </div>
        <!--  -->
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 p-3 p-md-3">
                <p class="">
                    <span class="bg-light p-3 p-md-3 text-secondary">Excellence:</span>
                    we are committed to always win by being the best in what we do.
                    We drive and lead the marketplaces by offering
                    outstanding quality of service and product
                </p>
            </div>
        </div>
        <!--  -->
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 p-3 p-md-3">
                <p class="">
                    <span class="bg-light p-3 p-md-3 text-secondary">Team work:</span>
                    We are in it together, all the way and forever. Through trust,
                    we build and maintain confidence in each other’s
                    competence
                </p>
            </div>
        </div>
        <!--  -->
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 p-3 p-md-3">
                <p class="">
                    <span class="bg-light p-3 p-md-3 text-secondary">Excellence:</span>
                    we are committed to always win by being the best in what we do.
                    We drive and lead the marketplaces by offering
                    outstanding quality of service and product
                </p>
            </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 p-3 p-md-3">
                <p class="">
                    <span class="bg-light p-3 p-md-3 text-secondary">Care:</span>
                    Our people are our greatest asset. We care for and respect our investors, 
                    colleagues, customer and suppliers
                </p>
            </div>
        </div>
        <!--  -->

    </div>

</div>

<div class="row d-flex justify-content-center px-4 px-md-5">
    <div class="col-12 col-md-12 d-flex flex-column">
        <p class="h3 secondary-app-color">PURPOSE</p>
        <p class="text-left">
            MIZAR ERIDANUS GROUP is an emerging conglomerate founded upon the principle of excellence. The company intends to
            deliver her long term planned agenda with a lean and agile structure that supports its strategic intent of becoming
            the
            leading company in trade, commerce and industry across Africa. The goal is to change the face of Africa.
        </p>
    </div>
</div>

<div class="row d-flex justify-content-center px-4 px-md-5">
    <div class="col-12 col-md-12 d-flex flex-column">
        <p class="h3 secondary-app-color py-3">GROUP</p>
        <p class="text-left">
            MIZAR ERIDANUS LIMITED is a company registered with the Corporate Affairs Commission [CAC] under the Companies and
            Allied Matters Acts CAP C20, 2004 [RC Number 1231379] as a major player in trade, commerce, industry and other related
            business as stated in the company’s Memorandum of Association. We have a wide range of subsidiaries that cater for
            business in the following sectors FMCG, ENERGY, REAL ESTATE and FOOD and BEVERAGES.
            <br>
            <br>
            Our company will operate from our trade head office in Geneva, Switzerland (ongoing registration in Switzerland). The
            operational base in Geneva will position our company to maximum exploitation of trade opportunities on a global scale.
            Part of our objective is commodity trading on a large scale and volume and which is made possible with efficient
            business relationships with our trade partners.

        </p>
    </div>
    <div class="col-12">
        <p class="h5 secondary-app-color">INDIVIDUALS COMPANIES</p>
        <ul>
            <li>MIZAR ERIDANUS TRADING SA</li>
            <li>MIZAR ERIDANUS ENERGY</li>
            <li>MIZAR ERIDANUS REAL ESTATE</li>
            <li>MIZAR ERIDANUS FOOD and BEVERAGES(FMCG)</li>
            <li>SEIGBERG TRADING</li>

        </ul>
    </div>
</div>


