<app-app-intro-section></app-app-intro-section>

<div class="row d-flex justify-content-center py-5">
    <div class="col-10">
        <p class="font-weight-normal text-center">
            MIZAR ERIDANUS GROUP was formed in 2013 in Nigeria. Our headquarter presently in Lagos, Nigeria, the group has existing
            business interest in Nigeria, Africa, Europe and Asia with products traded across various trading channels. We have
            streamlined our business and commercial activities to involve commodity trading, energy, real estate and food and
            beverages.
        </p>
    </div>
</div>

<div class="row d-flex justify-content-center">

    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
        <p class="h3 secondary-app-color">VISION</p>
        <p class="text-center">
            We are a global brand established to change the face of Africa.
        </p>
    </div>

    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
        <p class="h3 secondary-app-color">MISSION</p>
        <p class="text-center">
            Our aim is to turn Africa into the hub of Business, Commerce, Industry and Technology.
        </p>
    </div>

</div>

<div class="row">

    <div class="col-12 p-4 py-md-4">
        <p class="text-center h3 secondary-app-color">
            Our Core Value
        </p>
    </div>

    <div class="col-12">
        <!--  -->
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 p-3 p-md-3">
                <p class="">
                    <span class="bg-info p-3 p-md-3 text-white">Integrity:</span> 
                    We always do the right things at the right time in the right way. 
                    We are honest and straightforward in all
                    our doings and operate within the provisions of law
                </p>
            </div>
        </div>
        <!--  -->
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 p-3 p-md-3">
                <p class="">
                    <span class="bg-warning p-3 p-md-3 text-white">Excellence:</span>
                    we are committed to always win by being the best in what we do.
                    We drive and lead the marketplaces by offering
                    outstanding quality of service and product
                </p>
            </div>
        </div>
        <!--  -->
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 p-3 p-md-3">
                <p class="">
                    <span class="bg-light p-3 p-md-3 text-secondary">Team work:</span>
                    We are in it together, all the way and forever. Through trust,
                    we build and maintain confidence in each other’s
                    competence
                </p>
            </div>
        </div>
        <!--  -->
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 p-3 p-md-3">
                <p class="">
                    <span class="bg-secondary p-3 p-md-3 text-white">Excellence:</span>
                    we are committed to always win by being the best in what we do.
                    We drive and lead the marketplaces by offering
                    outstanding quality of service and product
                </p>
            </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 p-3 p-md-3">
                <p class="">
                    <span class="bg-success p-3 p-md-3 text-white">Care:</span>
                    Our people are our greatest asset. We care for and respect our investors, 
                    colleagues, customer and suppliers
                </p>
            </div>
        </div>
        <!--  -->

    </div>

</div>



