<app-nav-bar></app-nav-bar>
<div class="row no-gutter">
    <div class="home-intro">
        <img src="assets/assets-mizar/mizar-slide-b.jpg" alt="">
    </div>
</div>
<div class="row d-flex justify-content-center py-5">
    <div class="col-10">
        <p class="font-weight-normal text-center">
            MIZAR ERIDANUS GROUP was founded in 2013 with operations in Nigeria and across Africa,
            Asia and Europe. We are present
            in selected industries including Energy [refined and crude], Food and Beverages, Real Estate.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 p-4 py-md-4">
        <p class="h2 text-black text-center">
            The Mizar Difference
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 px-md-5 pb-5 pb-md-5">
        <!--  -->
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="assets/assets-mizar/team.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-start mt-5">
                <p class="h3">LEGACY and IMPACT</p>
                <p>
                    Since existence, our focus has been on cultivating success culture, strengthening our values and documenting our
                    achievement as we build a thriving business. We value integrity which is an important measure for our success. We are
                    committed even more to our mission and through our business operations creates values that strategically positions the
                    company and better the lives of our customers
                </p>
            </div>
        </div>
        <!--  -->
        <div class="row d-flex flex-row-reverse mt-5 mt-md-5">
            <div class="col-12 col-md-6">
                <img src="assets/assets-mizar/teamm.jpeg" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-start mt-5">
                <p class="h3">A DIVERSE TEAM</p>
                <p>
                    We are Who We Are – a phrase that best describmt-md-5ed the strength in diversity of our staffs and other professional
                    associates who upholds our core values and cultures. They are family and our greatest asset in whom we will continue to
                    invest in tremendously
                </p>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<app-footer></app-footer>