<app-app-intro-section [title]="title"></app-app-intro-section>


<div class="row d-flex justify-content-center py-5">
    <div class="col-10">
        <p class="font-weight-normal col-md-10">
        We are a group of connected movable parts functioning as one with each contributing efficiently to the company vision to
        change the face of Africa. Our people are the greatest and most valuable, dedicated and enthusiastic about the growth of
        the company across locations and in all sectors.
        We ensure adequate policies and work flow program are implemented to foster a motivating work environment devoid of
        segregation, prejudice and any form of discrimination.
        </p>
        <div class="col-12">
            <a href="mailto:careers@mizareridanus.com">careers@mizareridanus.com</a>
        </div>
        <div class="col-12 pt-3 pb-3">
            <a href="assets/files/Corporate-Gov.pdf" download>Download Corporate-Gov.pdf [131kb]</a>
        </div>
    </div>
</div>
