<div class="milestone-header pt-5 text-center">
    <h1>Milestone</h1>
</div>


<div id="timeline-content">
    <ul class="timeline">
        <li class="event" data-date="2014">
            <p>Company incorporation – the establishment of a stronger local energy supply platform in the
            downstream sector of the Nigerian economy</p>
        </li>
        <li class="event" data-date="2016">
            <p>Agriculture - a 11 hectcres crop cultivation.</p>
        </li>
        <li class="event" id="date" data-date="2016">
            <p>
               Foreign partnership – launching into the global liquid energy supply business and 
               creating relationships with foreign refineries to supply clients across the West-African trade corridor.
            </p>
        </li>
        <li class="event" id="date" data-date="2017">
            <p>
                <!-- Smishes smoked catfish --> Flagship packaged product- establishment of our flagship product with a factory of manufacturing
                capacity of 500 tons per month.
            </p>
        </li>
        <li class="event" id="date" data-date="2017">
            <p>
                Production and distribution of Smishes across four(4) states including local and modern markets.
            </p>
        </li>
        <li class="event" id="date" data-date="2017">
            <p>
                Perfecting the supply chain that conveniently handle the logistics, insurance and financing details
                of all liquid energy deals across various part of the world.
            </p>
        </li>
        <li class="event" id="date" data-date="2017 - 2018">
            <p>
                Local Supply of over 10 million litters of PMS (Premium Motor Spirit) to Apapa Lagos
            </p>
        </li>
        <li class="event" id="date" data-date="2017 - 2018">
            <p>
                Local Supply of over 15 million litter of AGO (Automotive Gas Oil) to Various Tank farms in
                Lagos.
            </p>
        </li>
        <li class="event" id="date" data-date="2018">
            <p>
                Nafdac accreditation and approval of the factory and SMISHES
            </p>
        </li>
        <li class="event" id="date" data-date="2019">
            <p>
                Upstream sector – the potential partnership with private entity and government over the
                establishment of modular refinery
                (Namibia 25,000bpd)
            </p>
        </li>
        <li class="event" id="date" data-date="2019">
            <p>
                Began operation in the international commodity trading with partnerships across the Atlantic
            </p>
        </li>
    </ul>
</div>
















<!-- I disable it -->
<div id="timeline-content" *ngIf="!disable">
    <ul class="timeline">
        <li class="event" data-date="65Million B.C.">
            <h3>Dinosaurs Roamed the Earth</h3>
            <p>RAWWWWWWRRR 🐢🦂</p>
        </li>
        <li class="event" data-date="2005">
            <h3>Creative Component Launched</h3>
            <p>"We can be all things to all people!" 📣</p>
        </li>
        <li class="event" id="date" data-date="2009">
            <h3>Squareflair was Born</h3>
            <p></p>
            <p>"We can be all things to Squarespace users!" 📣</p>
        </li>

        <li class="event" data-date="November 15, 2018">

            <h3>Squareflair Today</h3>

            <p>"We design and build from scratch!" 📣
            </p>
            <p>When we say <em><strong>100% custom</strong></em> we mean it— and we build all sites on the Squarespace
                Developer platform.
            </p>
            <p>Did you know that all of our pixels are hand-forged from the rarest of subpixels grown and harvested in
                the <em>Nerd Forest</em>? <br>🤜💥🤛</p>

            <p><strong>Our success can be measured by lives and brands enhanced by 9+ years of 100% Squarespace-focused
                    service!</strong></p>

            <p><a href="https://www.thinkeloquently.com">squareflair.com</a></p>
        </li>
    </ul>
</div>
 